#veditor {
    background-image: url(https://tt3.pages.dev/img/mao/zhifeiji.gif);
    background: size 1em;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical;
}

[data-theme = light] .v .vcards .vcard .vh .vhead .vsys{
    background: #fff7f7f7;
} /*访客浏览器颜色*/
[data-theme = dark] .v .vcards .vcard .vh .vhead .vsys{
    background: #fff7f730;
    color: rgba(247, 233, 233, 0.725);
} /*访客浏览器颜色*/

[data-theme = light] .v .vcards .vcard .vh .vmeta .vat{
    font-size: 12px;
    display: block;
    margin-left: 15px;
    float: right;
    color: #fff;
    background-color: #ffffff;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 3px;
}
[data-theme = dark] .v .vcards .vcard .vh .vmeta .vat{
    font-size: 12px;
    display: block;
    margin-left: 15px;
    float: right;
    color: rgba(255, 255, 255, 0.812);
    background-color: #ffffff4f;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 3px;
}

/*.v .vcards .vcard .vh .vmeta .vat{font-size: 12px;display: block;margin-left: 15px;float: right;color: #fff;background-color: #ff9999;line-height: 20px;padding: 0 6px;border-radius: 3px;}
*/
/*
#veditor:focus{
    background-position-y: 200px;
    transition: all 0.2s ease-in-out 0s;
}
*/
/*
.v .vwrap{padding: 0 0 44px;}
.v .vwrap .vedit{padding-top:20px;}
.v .vwrap .vheader{width: 80%;bottom:0;position: absolute;background: #fff7f7f7;}
.v .vinput{padding:10px 15px; text-align: center;}
.v .vwrap .vheader .vinput{border-bottom:0px}
.v .vwrap .vedit .vctrl{margin-top:-44px;right:0;position:absolute;margin-right:-3px;}
.v .vwrap .vrow{position:absolute;right:0;bottom:0;width:20%;padding-top:0px;}
.v .vrow {font-size: 0;padding: 0px 0;}
.v .vicon {margin-right: 15px;}
.v .vrow .vcol.vcol-30{display: none}
.v .vedit .vctrl span.vpreview-btn{display: none}
.v .vrow .vcol.vcol-70{width: 100%;}
.v .vsubmit.vbtn{border-radius: 0;padding: 0;color: #fff;line-height: 44px;width:100%;border: none;background:#ff9999;}
.v .vcards .vcard .vh .vhead .vsys{background: #fff7f7f7;}
.v .vcards .vcard .vh .vmeta .vat{font-size: 12px;display: block;margin-left: 15px;float: right;color: #fff;background-color: #ff9999;line-height: 20px;padding: 0 6px;border-radius: 3px;}
@media screen and (max-width: 520px){
.v .vwrap .vheader .vinput{width: 33.33%;padding:10px 5px;}  
}
*/
